#!/bin/sh
LXC_BRIDGE=lxcbr0
LXC_NETWORK={{ lxc_host_network }}

/sbin/iptables -I INPUT -i ${LXC_BRIDGE} -p udp --dport 67 -j ACCEPT
/sbin/iptables -I INPUT -i ${LXC_BRIDGE} -p tcp --dport 67 -j ACCEPT
/sbin/iptables -I INPUT -i ${LXC_BRIDGE} -p udp --dport 53 -j ACCEPT
/sbin/iptables -I INPUT -i ${LXC_BRIDGE} -p tcp --dport 53 -j ACCEPT
/sbin/iptables -I FORWARD -i ${LXC_BRIDGE} -j ACCEPT
/sbin/iptables -I FORWARD -o ${LXC_BRIDGE} -j ACCEPT
/sbin/iptables -t nat -A POSTROUTING -s ${LXC_NETWORK} ! -d ${LXC_NETWORK} -j MASQUERADE
/sbin/iptables -t mangle -A POSTROUTING -o ${LXC_BRIDGE} -p udp -m udp --dport 68 -j CHECKSUM --checksum-fill

