LXC_DHCP_CONFILE=/etc/lxc/dnsmasq.conf
LXC_DOMAIN=lxc
USE_LXC_BRIDGE="true"
LXC_BRIDGE="lxcbr0"
LXC_ADDR="{{lxc_host_addr}}"
LXC_NETMASK="255.255.255.0"
LXC_NETWORK="{{lxc_host_network}}"
LXC_DHCP_RANGE="{{lxc_host_dhcp_range}}"
LXC_DHCP_MAX="253"

