{% if item.host_volumes is defined %}
  {% for i in item.host_volumes %}

  {% if i.options is defined %}
    {% set optStr="bind,create=dir,"+i.options %}
  {% else %}
    {% set optStr="bind,create=dir" %}
  {% endif %}

{{ i.host_path }} {{ i.mountpoint }} none {{ optStr }}

  {% endfor %}
{% endif %}

{% if item.volumes is defined %}
  {% for i in item.volumes %}

  {% if i.options is defined %}
    {% set optStr="create=dir,"+i.options %}
  {% else %}
    {% set optStr="create=dir" %}
  {% endif %}

/dev/vg/lxc-{{ item.name }}-{{ i.name }} {{ i.mountpoint }} {{ i.fstype }} {{ optStr }} 

  {% endfor %}
{% endif %}

